node_modules
.env
coverage
coverage.json
typechain-types
cache
artifacts
dist
gas-report.txt

# Hardhat files
cache
artifacts

# TypeScript
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
